<div>
<breadcrumb buttons :title="$parent.audit.name" id="edit-breadcrumb-affix">
    <div slot="buttons">
    <q-btn color="positive" label="Save" no-caps style="width: 100px" @click="updateAuditGeneral" />
    </div>
</breadcrumb>

<div class="row q-col-gutter-md q-pa-md">
    <div class="col-md-6">
        <q-card >
            <q-card-section>
                <q-input label="Name *" v-model="audit.name" />
                <q-input label="Location" v-model="audit.location" />
                <q-select 
                label="Assessment Type"
                v-model="audit.auditType" 
                :options="auditTypesLang" 
                option-value="name" 
                option-label="name" 
                emit-value 
                map-options
                options-sanitize
                />
                <q-select
                label="Company"
                v-model="audit.company"
                :options="companies"
                option-value="_id"
                option-label="name"
                @input="filterClients"
                clearable
                options-sanitize
                />
                <q-select
                label="Client"
                v-model="audit.client"
                :options="selectClients"
                option-value="email"
                option-label="email"
                @input="filterCompany"
                clearable
                options-sanitize
                />
                <q-select 
                label="Collaborators"
                v-model="audit.collaborators"
                :options="collaborators"
                option-value="username"
                :option-label="(item) => item.firstname+' '+item.lastname"
                multiple
                use-chips
                options-sanitize
                />
            </q-card-section>
        </q-card>
    </div>
    <div class="col-md-6">
        <q-card >
            <q-card-section>
                <q-input label="Redacting Date" v-model="audit.date">
                    <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
                            <q-date first-day-of-week="1" mask="YYYY-MM-DD" v-model="audit.date" @input="() => $refs.qDateProxy.hide()" />
                        </q-popup-proxy>
                        </q-icon>
                    </template>
                </q-input>
                <q-input label="Start Date" v-model="audit.date_start">
                    <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateStartProxy" transition-show="scale" transition-hide="scale">
                            <q-date first-day-of-week="1" mask="YYYY-MM-DD" v-model="audit.date_start" @input="() => $refs.qDateStartProxy.hide()" />
                        </q-popup-proxy>
                        </q-icon>
                    </template>
                </q-input>
                <q-input label="End Date" v-model="audit.date_end">
                    <template v-slot:append>
                        <q-icon name="event" class="cursor-pointer">
                        <q-popup-proxy ref="qDateEndProxy" transition-show="scale" transition-hide="scale">
                            <q-date first-day-of-week="1" mask="YYYY-MM-DD" v-model="audit.date_end" @input="() => $refs.qDateEndProxy.hide()" />
                        </q-popup-proxy>
                        </q-icon>
                    </template>
                </q-input>
                <q-select 
                label="Scope"
                stack-label
                v-model="audit.scope"
                multiple
                use-chips
                hide-dropdown-icon
                use-input
                new-value-mode="add-unique"
                options-sanitize
                />
                <q-select 
                label="Language"
                v-model="audit.language" 
                :options="languages" 
                option-value="locale" 
                option-label="language" 
                emit-value 
                map-options
                options-sanitize
                />
                <div class="row">
                    <div class="col-md-6">
                        <q-select label="Template" v-model="audit.template" :options="templates" option-value="_id" option-label="name"
                            emit-value map-options options-sanitize />
                    </div>
                    <div class="col-md-6">
                        <q-input label="ID Prefix" v-model="audit.idPrefix" />
                    </div>
                </div>
            </q-card-section>
        </q-card>
    </div>
</div>
</div>