.DS_Store
.thumbs.db
node_modules
mongo-data*
report-templates
custom-generator.js
report-filters-custom.js

# Quasar core related directories
.quasar
/dist
/quasar.config.*.temporary.compiled*

# local .env files
.env.local*

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Backups
backend/backup

# Configuration files
config.json
report.json
roles.json
app-settings.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Version managers
.tool-versions

# Frontend test files
storageState.*
copilot-context.md