.DS_Store
.thumbs.db
node_modules
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
mongo-data*
.quasar
report-templates
custom-generator.js
roles.json
app-settings.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
