<div>

    <q-tabs v-model="selectedTab" no-caps align="left" indicator-color="primary" active-bg-color="grey-3" class="bg-white full-width">
        <q-tab name="languages" default label="Languages" />
        <q-tab name="audit-types" label="Audit Types" />
        <q-tab name="vulnerability-types" label="Vulnerability Types" />
        <q-tab name="vulnerability-categories" label="Vulnerability Categories" />
        <q-tab name="custom-fields" label="Custom Fields" />
        <q-tab name="custom-sections" label="Custom Sections" />
    </q-tabs>

    <div class="row">
        <q-tab-panels v-model="selectedTab" class="bg-transparent col-md-10 col-12 offset-md-1 q-mt-md" @before-transition="Utils.syncEditors($refs)">

            <!-- LANGUAGES -->
            <q-tab-panel name="languages">
                <q-card class="bg-grey-1">
                    <q-card-section>
                        <div class="text-grey-8">Languages used in Audits and Vulnerabilities</div>
                    </q-card-section>
                    <q-card-section class="row">
                        <div class="col-md-6 col-12" v-if="UserService.isAllowed('languages:create')">
                            <q-item>
                                <q-item-section>
                                    <q-input
                                    label="Language"
                                    v-model="newLanguage.language"
                                    clearable
                                    :error="!!errors.language"
                                    :error-message="errors.language"
                                    @keyup.enter="createLanguage"
                                    outlined
                                    bg-color="white"
                                    />
                                </q-item-section>
                                <q-item-section>
                                    <q-input
                                    label="Locale"
                                    v-model="newLanguage.locale"
                                    clearable
                                    :error="!!errors.locale"
                                    :error-message="errors.locale"
                                    @keyup.enter="createLanguage"
                                    outlined
                                    bg-color="white"
                                    />
                                </q-item-section>
                                <q-item-section side>
                                    <q-btn color="secondary" unelevated label="+" size="md" @click="createLanguage" />
                                </q-item-section>
                            </q-item>
                        </div>
                        
                        <div v-if="!editLanguage" class="col-md-6 col-12">
                            <q-card flat bordered v-if="languages.length > 0" class="bg-grey-1">
                                <q-toolbar>
                                    <div class="text-grey-8">List of Languages</div>
                                    <q-space />
                                    <q-btn v-if="UserService.isAllowed('languages:update')" flat color="primary" icon="fa fa-edit" @click="editLanguage = true; editLanguages = $_.cloneDeep(languages)">
                                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Edit</q-tooltip> 
                                    </q-btn>
                                </q-toolbar>
                                <q-separator />
                                <q-card-section>
                                    <q-item v-for="language of languages" :key="language.locale">
                                        <q-item-section>
                                            <q-input
                                            label="Language"
                                            v-model="language.language"
                                            readonly
                                            outlined
                                            bg-color="white"
                                            />
                                        </q-item-section>
                                        <q-item-section>
                                            <q-input
                                            label="Locale"
                                            v-model="language.locale"
                                            readonly
                                            outlined
                                            bg-color="white"
                                            />
                                        </q-item-section>
                                    </q-item>
                                </q-card-section>
                            </q-card>
                        </div>
                        <div v-else class="col-md-6 col-12">
                            <q-card flat bordered class="bg-grey-1">
                                <q-toolbar>
                                    <div class="text-grey-8">Edit Languages</div>
                            </q-toolbar>
                            <q-separator />
                            <q-card-section>
                                    <draggable v-model="editLanguages" handle=".handle" ghost-class="drag-ghost">
                                        <q-item v-for="(language,index) of editLanguages" :key="index">
                                            <q-item-section avatar>
                                                <q-icon name="mdi-arrow-split-horizontal" class="cursor-pointer handle" color="grey" />
                                            </q-item-section>
                                            <q-item-section>
                                                <q-input
                                                label="Language"
                                                v-model="language.language"
                                                outlined
                                                bg-color="white"
                                                />
                                            </q-item-section>
                                            <q-item-section>
                                                <q-input
                                                label="Locale"
                                                v-model="language.locale"
                                                outlined
                                                bg-color="white"
                                                />
                                            </q-item-section>
                                            <q-item-section side >
                                                <q-btn color="red" unelevated label="x" size="md" class="q-mt-md" @click="removeLanguage(language.locale)"/>
                                            </q-item-section>
                                        </q-item>
                                    </draggable>
                                </q-card-section>
                                <q-card-actions align="right" class="q-mr-lg">
                                    <q-btn color="primary" outline @click="editLanguage = false">Cancel</q-btn>
                                    <q-btn color="secondary" unelevated @click="updateLanguages">Save</q-btn>
                                </q-card-actions>
                            </q-card>
                        </div>
                    </q-card-section>
                </q-card>
            </q-tab-panel>

            <!-- AUDIT TYPES -->
            <q-tab-panel name="audit-types">
                <q-card class="bg-grey-1">
                    <q-card-section>
                        <div class="text-grey-8">Audit types used in Audits</div>
                    </q-card-section>
                    <q-card-section v-if="languages.length > 0" class="row">
                        <div class="col-md-6 col-12" v-if="UserService.isAllowed('audit-types:create')">
                            <q-item class="row">
                                <q-item-section class="col-md-4 col-12">
                                    <q-select 
                                    v-model="newAuditType.locale" 
                                    label="Language" 
                                    :options="languages" 
                                    option-value="locale"
                                    option-label="language"
                                    emit-value
                                    map-options 
                                    options-sanitize
                                    outlined
                                    bg-color="white"
                                    />
                                </q-item-section>
                            </q-item>
                            <q-item>
                                <q-item-section>
                                    <q-input
                                    label="Name"
                                    v-model="newAuditType.name"
                                    clearable
                                    :error="!!errors.auditType"
                                    :error-message="errors.auditType"
                                    @keyup.enter="createAuditType"
                                    outlined
                                    bg-color="white"
                                    />
                                </q-item-section>
                                <q-item-section side>
                                    <q-btn color="secondary" unelevated label="+" size="md" @click="createAuditType" />
                                </q-item-section>
                            </q-item>
                        </div>

                        <div v-if="!editAuditType" class="col-md-6 col-12">
                            <q-card flat bordered v-if="auditTypes.length > 0" class="bg-grey-1">
                                <q-toolbar>
                                    <div class="text-grey-8">List of Audit Types</div>
                                    <q-space />
                                    <q-btn v-if="UserService.isAllowed('audit-types:update')" flat color="primary" icon="fa fa-edit" @click="editAuditType = true; editAuditTypes = $_.cloneDeep(auditTypes)">
                                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Edit</q-tooltip> 
                                    </q-btn>
                            </q-toolbar>
                            <q-separator />
                                <q-item v-for="auditType of auditTypes" :key="auditType.name" v-if="auditType.locale === newAuditType.locale">
                                    <q-item-section>
                                        <q-input
                                        label="Name"
                                        v-model="auditType.name"
                                        readonly
                                        outlined
                                        bg-color="white"
                                        />
                                    </q-item-section>
                                </q-item>
                            </q-card>
                        </div>
                        <div v-else class="col-md-6 col-12">
                            <q-card flat bordered class="bg-grey-1">
                                <q-toolbar>
                                    <div class="text-grey-8">Edit Audit Types</div>
                            </q-toolbar>
                            <q-separator />
                            <q-card-section>
                                    <draggable v-model="editAuditTypes" handle=".handle" ghost-class="drag-ghost">
                                        <q-item v-for="(auditType,index) of editAuditTypes" :key="index" v-if="auditType.locale === newAuditType.locale">
                                            <q-item-section avatar>
                                                <q-icon name="mdi-arrow-split-horizontal" class="cursor-pointer handle" color="grey" />
                                            </q-item-section>
                                            <q-item-section>
                                                <q-input
                                                label="Name"
                                                v-model="auditType.name"
                                                outlined
                                                bg-color="white"
                                                />
                                            </q-item-section>
                                            <q-item-section side >
                                                <q-btn color="red" unelevated label="x" size="md" class="q-mt-md" @click="removeAuditType(auditType)"/>
                                            </q-item-section>
                                        </q-item>
                                    </draggable>
                                </q-card-section>
                                <q-card-actions align="right" class="q-mr-lg">
                                    <q-btn color="primary" outline @click="editAuditType = false">Cancel</q-btn>
                                    <q-btn color="secondary" unelevated @click="updateAuditTypes">Save</q-btn>
                                </q-card-actions>
                            </q-card>
                        </div>
                    </q-card-section>
                    <q-card-section v-else>
                        <p>Please create at least one Language</p>
                    </q-card-section>
                </q-card>
            </q-tab-panel>

            <!-- VULNERABILITY TYPES -->
            <q-tab-panel name="vulnerability-types">
                <q-card class="bg-grey-1">
                    <q-card-section>
                        <div class="text-grey-8">Create Vulnerability types used in Vulnerabilities and Findings</div>
                    </q-card-section>
                    <q-card-section v-if="languages.length > 0" class="row">
                        <div class="col-md-6 col-12" v-if="UserService.isAllowed('vulnerability-types:create')">
                            <q-item class="row">
                                <q-item-section class="col-md-4 col-12">
                                    <q-select 
                                    v-model="newVulnType.locale" 
                                    label="Language" 
                                    :options="languages" 
                                    option-value="locale"
                                    option-label="language"
                                    emit-value
                                    map-options 
                                    options-sanitize
                                    outlined
                                    bg-color="white"
                                    />
                                </q-item-section>
                            </q-item>
                            <q-item>
                                <q-item-section>
                                    <q-input
                                    label="Name"
                                    v-model="newVulnType.name"
                                    clearable
                                    :error="!!errors.vulnType"
                                    :error-message="errors.vulnType"
                                    @keyup.enter="createVulnerabilityType"
                                    outlined
                                    bg-color="white"
                                    />
                                </q-item-section>
                                <q-item-section side>
                                    <q-btn color="secondary" unelevated label="+" size="md" @click="createVulnerabilityType" />
                                </q-item-section>
                            </q-item>
                        </div>

                        <div v-if="!editVulnType" class="col-md-6 col-12">
                            <q-card flat bordered v-if="vulnTypes.length > 0" class="bg-grey-1">
                                <q-toolbar>
                                    <div class="text-grey-8">List of Vulnerability Types</div>
                                    <q-space />
                                    <q-btn v-if="UserService.isAllowed('vulnerability-types:update')" flat color="primary" icon="fa fa-edit" @click="editVulnType = true; editVulnTypes = $_.cloneDeep(vulnTypes)">
                                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Edit</q-tooltip> 
                                    </q-btn>
                            </q-toolbar>
                            <q-separator />
                                <q-item v-for="vulnType of vulnTypes" :key="vulnType.name" v-if="vulnType.locale === newVulnType.locale">
                                    <q-item-section>
                                        <q-input
                                        label="Name"
                                        v-model="vulnType.name"
                                        readonly
                                        outlined
                                        bg-color="white"
                                        />
                                    </q-item-section>
                                </q-item>
                            </q-card>
                        </div>
                        <div v-else class="col-md-6 col-12">
                            <q-card flat bordered class="bg-grey-1">
                                <q-toolbar>
                                    <div class="text-grey-8">Edit Vulnerability Types</div>
                            </q-toolbar>
                            <q-separator />
                            <q-card-section>
                                    <draggable v-model="editVulnTypes" handle=".handle" ghost-class="drag-ghost">
                                        <q-item v-for="(vulnType,index) of editVulnTypes" :key="index" v-if="vulnType.locale === newVulnType.locale">
                                            <q-item-section avatar>
                                                <q-icon name="mdi-arrow-split-horizontal" class="cursor-pointer handle" color="grey" />
                                            </q-item-section>
                                            <q-item-section>
                                                <q-input
                                                label="Name"
                                                v-model="vulnType.name"
                                                outlined
                                                bg-color="white"
                                                />
                                            </q-item-section>
                                            <q-item-section side >
                                                <q-btn color="red" unelevated label="x" size="md" class="q-mt-md" @click="removeVulnType(vulnType)"/>
                                            </q-item-section>
                                        </q-item>
                                    </draggable>
                                </q-card-section>
                                <q-card-actions align="right" class="q-mr-lg">
                                    <q-btn color="primary" outline @click="editVulnType = false">Cancel</q-btn>
                                    <q-btn color="secondary" unelevated @click="updateVulnTypes">Save</q-btn>
                                </q-card-actions>
                            </q-card>
                        </div>
                    </q-card-section>
                    <q-card-section v-else>
                        <p>Please create at least one Language</p>
                    </q-card-section>
                </q-card>
            </q-tab-panel>

            <!-- VULNERABILITY CATEGORIES -->
            <q-tab-panel name="vulnerability-categories">
                <q-card class="bg-grey-1">
                    <q-card-section>
                        <div class="text-grey-8">Create Vulnerability categories used in Vulnerabilities and Findings</div>
                    </q-card-section>
                    <q-card-section class="row">
                        <div class="col-md-6 col-12" v-if="UserService.isAllowed('vulnerability-categories:create')">
                            <q-item>
                                <q-item-section>
                                    <q-input
                                    label="Name"
                                    v-model="newVulnCat.name"
                                    clearable
                                    :error="!!errors.vulnCat"
                                    :error-message="errors.vulnCat"
                                    @keyup.enter="createVulnerabilityCategory"
                                    outlined
                                    bg-color="white"
                                    />
                                </q-item-section>
                                <q-item-section side>
                                    <q-btn color="secondary" unelevated label="+" size="md" @click="createVulnerabilityCategory" />
                                </q-item-section>
                            </q-item>
                        </div>

                        <div v-if="!editCategory" class="col-md-6 col-12">
                            <q-card flat bordered v-if="vulnCategories.length > 0" class="bg-grey-1">
                                <q-toolbar>
                                    <div class="text-grey-8">List of Categories</div>
                                    <q-space />
                                    <q-btn v-if="UserService.isAllowed('vulnerability-categories:update')" flat color="primary" icon="fa fa-edit" @click="editCategory = true; editCategories = $_.cloneDeep(vulnCategories)">
                                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Edit</q-tooltip> 
                                    </q-btn>
                                </q-toolbar>
                                <q-separator />
                                    <q-item v-for="vulnCat of vulnCategories" :key="vulnCat.name">
                                        <q-item-section>
                                            <q-input
                                            label="Name"
                                            v-model="vulnCat.name"
                                            readonly
                                            outlined
                                            bg-color="white"
                                            />
                                        </q-item-section>
                                    </q-item>
                            </q-card>
                        </div>
                        <div v-else class="col-md-6 col-12">
                            <q-card flat bordered class="bg-grey-1">
                                <q-toolbar>
                                    <div class="text-grey-8">Edit Categories</div>
                            </q-toolbar>
                            <q-separator />
                            <q-card-section>
                                    <draggable v-model="editCategories" handle=".handle" ghost-class="drag-ghost">
                                        <q-item v-for="(vulnCat,index) of editCategories" :key="index">
                                            <q-item-section avatar>
                                                <q-icon name="mdi-arrow-split-horizontal" class="cursor-pointer handle" color="grey" />
                                            </q-item-section>
                                            <q-item-section>
                                                <q-input
                                                label="Name"
                                                v-model="vulnCat.name"
                                                outlined
                                                bg-color="white"
                                                />
                                            </q-item-section>
                                            <q-item-section side>
                                                <q-btn color="red" unelevated label="x" size="md" @click="removeCategory(vulnCat)"/>
                                            </q-item-section>
                                        </q-item>
                                    </draggable>
                                </q-card-section>
                                <q-card-actions align="right" class="q-mr-lg">
                                    <q-btn color="primary" outline @click="editCategory = false">Cancel</q-btn>
                                    <q-btn color="secondary" unelevated @click="updateVulnCategories">Save</q-btn>
                                </q-card-actions>
                            </q-card>
                        </div>
                    </q-card-section>
                </q-card>
            </q-tab-panel>

            <!-- CUSTOM FIELDS -->
            <q-tab-panel name="custom-fields">
                <q-card class="bg-grey-1">
                    <q-card-section>
                        <div class="text-grey-8">Create and manage Custom Fields for different Views</div>
                    </q-card-section>
                    <q-card-section>
                        <q-item>
                            <q-item-section>
                                <q-select
                                label="Select View"
                                v-model="newCustomField.display"
                                :options="cfDisplayOptions"
                                emit-value
                                map-options
                                @input="newCustomField.displaySub = ''"
                                outlined
                                bg-color="white"
                                />
                            </q-item-section>
                            <q-item-section>
                                <q-select
                                v-if="['finding', 'vulnerability'].includes(newCustomField.display)"
                                label="Select Category"
                                v-model="newCustomField.displaySub"
                                :options="vulnCategories"
                                option-value="name"
                                option-label="name"
                                options-sanitize
                                emit-value
                                map-options
                                stack-label
                                clearable
                                outlined
                                bg-color="white"
                                />
                            </q-item-section>
                        </q-item>
                        <q-item v-if="UserService.isAllowed('custom-fields:create')">
                            <q-item-section class="col-md-2">
                                <q-select
                                ref="select-component"
                                label="Select Component"
                                v-model="newCustomField.fieldType"
                                :options="cfComponentOptions"
                                emit-value
                                map-options
                                :rules="[val => !!val || 'Field is required']"
                                lazy-rules="ondemand"
                                hide-bottom-space
                                outlined
                                bg-color="white"
                                />
                            </q-item-section>
                            <q-item-section v-if="newCustomField.fieldType !== 'space'">
                                <q-input
                                ref="input-label"
                                label="Label"
                                v-model="newCustomField.label"
                                clearable
                                @keyup.enter="createCustomField"
                                :rules="[val => !!val || 'Field is required']"
                                lazy-rules="ondemand"
                                hide-bottom-space
                                outlined
                                bg-color="white"
                                />
                            </q-item-section>
                            <q-item-section v-if="newCustomField.fieldType !== 'space'">
                                <q-input
                                label="Description"
                                v-model="newCustomField.description"
                                clearable
                                @keyup.enter="createCustomField"
                                outlined
                                bg-color="white"
                                />
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <q-select
                                label="Size"
                                v-model="newCustomField.size"
                                :options="[1,2,3,4,5,6,7,8,9,10,11,12]"
                                outlined
                                bg-color="white"
                                />
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <q-select
                                label="Offset"
                                v-model="newCustomField.offset"
                                :options="[0,1,2,3,4,5,6,7,8,9,10,11,12]"
                                outlined
                                bg-color="white"
                                />
                            </q-item-section>
                            <q-item-section class="col-md-1" v-if="newCustomField.fieldType !== 'space'">
                                <q-toggle
                                label="Required"
                                v-model="newCustomField.required"
                                left-label
                                />
                            </q-item-section>
                        </q-item>
                    </q-card-section>
                    <q-card-section v-if="UserService.isAllowed('custom-fields:create')">
                        <q-btn color="secondary" class="q-ml-md" unelevated no-caps style="width:100px" label="Add" @click="createCustomField" />
                    </q-card-section>
                </q-card>

                <!-- Preview -->
                <q-card class="q-mt-md bg-grey-1" v-if="canDisplayCustomFields()">
                    <q-card-section>
                        <draggable v-model="customFields" group="cfields" handle=".handle" ghost-class="drag-ghost" direction="horizontal" class="row">
                            <q-item v-for="(field,idx) of customFields" :key="idx" :class="`col-md-${field.size||12} col-12 offset-md-${field.offset||0}`" v-if="canDisplayCustomField(field)">
                                <q-item-section avatar v-if="UserService.isAllowed('custom-fields:update')">
                                    <q-btn flat color="grey" icon="mdi-arrow-split-horizontal" class="handle" dense size="sm" />
                                    <q-btn flat color="primary" icon="mdi-pencil" dense size="sm">
                                        <q-menu content-style="width: 300px" anchor="top left" self="top end" content-class="bg-grey-1">
                                            <q-item v-if="field.fieldType !== 'space'">
                                                <q-item-section>
                                                    <q-input
                                                    label="Label"
                                                    v-model="field.label"
                                                    clearable
                                                    outlined
                                                    bg-color="white"
                                                    />
                                                </q-item-section>
                                            </q-item>
                                            <q-item v-if="field.fieldType !== 'space'">
                                                <q-item-section>
                                                    <q-input
                                                    label="Description"
                                                    v-model="field.description"
                                                    clearable
                                                    @clear="field.description = ''"
                                                    outlined
                                                    bg-color="white"
                                                    />
                                                </q-item-section>
                                            </q-item>
                                            <q-item>
                                                <q-item-section>
                                                    <q-select
                                                    label="Size"
                                                    v-model="field.size"
                                                    :options="[1,2,3,4,5,6,7,8,9,10,11,12]"
                                                    outlined
                                                    bg-color="white"
                                                    />
                                                </q-item-section>
                                                <q-item-section>
                                                    <q-select
                                                    label="Offset"
                                                    v-model="field.offset"
                                                    :options="[0,1,2,3,4,5,6,7,8,9,10,11,12]"
                                                    outlined
                                                    bg-color="white"
                                                    />
                                                </q-item-section>
                                            </q-item>
                                            <q-item v-if="field.fieldType !== 'space'">
                                                <q-item-section>
                                                    <q-toggle
                                                    label="Required"
                                                    v-model="field.required"
                                                    outlined
                                                    bg-color="white"
                                                    />
                                                </q-item-section>
                                            </q-item>
                                        </q-menu>
                                    </q-btn>
                                    <q-btn flat color="red" icon="mdi-delete" dense size="sm" @click="deleteCustomField(field)" />
                                </q-item-section>
                                <q-item-section>
                                    <q-field 
                                    v-if="field.fieldType === 'text'" 
                                    label-slot 
                                    stack-label 
                                    borderless
                                    :hint="field.description"
                                    hide-bottom-space
                                    >
                                        <template v-slot:control>
                                            <basic-editor 
                                            ref="basiceditor_custom" 
                                            v-model="field.text" 
                                            /> 
                                        </template>

                                        <template v-slot:label>
                                            {{field.label}} <span v-if="field.required" class="text-red">*</span>
                                        </template>
                                    </q-field>

                                    <q-input
                                    v-if="field.fieldType === 'input'"
                                    :label='field.label'
                                    stack-label
                                    v-model="field.text"
                                    :hint="field.description"
                                    hide-bottom-space
                                    outlined
                                    bg-color="white"
                                    >
                                        <template v-slot:label>
                                            {{field.label}} <span v-if="field.required" class="text-red">*</span>
                                        </template>
                                    </q-input>
                                </q-item-section>
                            </q-item>
                        </draggable>
                    </q-card-section>
                    <q-card-section v-if="UserService.isAllowed('custom-fields:update')">
                        <q-btn label="Save" class="q-ml-md" color="secondary" unelevated no-caps style="width:100px" @click="updateCustomFields" />
                    </q-card-section>
                </q-card>
            </q-tab-panel>

            <!-- SECTIONS -->
            <q-tab-panel name="custom-sections">
                <q-card class="bg-grey-1">
                    <q-card-section>
                        <div class="text-grey-8">Create Custom Sections used in Audits</div>
                    </q-card-section>
                    <q-card-section v-if="languages.length > 0" class="row">
                        <div class="col-md-6 col-12" v-if="UserService.isAllowed('sections:create')">
                            <q-item class="row">
                                <q-item-section class="col-md-2">
                                    <q-select 
                                    v-model="newSection.locale" 
                                    label="Language" 
                                    :options="languages" 
                                    option-value="locale"
                                    option-label="language"
                                    emit-value
                                    map-options 
                                    options-sanitize
                                    outlined
                                    bg-color="white"
                                    />
                                </q-item-section>
                            </q-item>
                            <q-item>
                                <q-item-section>
                                    <q-input
                                    label="Name"
                                    v-model="newSection.name"
                                    clearable
                                    :error="!!errors.sectionName"
                                    :error-message="errors.sectionName"
                                    hide-bottom-space
                                    @keyup.enter="createSection"
                                    outlined
                                    bg-color="white"
                                    />
                                </q-item-section>
                                <q-item-section>
                                    <q-input
                                    label="Field (For Template)"
                                    v-model="newSection.field"
                                    clearable
                                    :error="!!errors.sectionField"
                                    :error-message="errors.sectionField"
                                    hide-bottom-space
                                    @keyup.enter="createSection"
                                    outlined
                                    bg-color="white"
                                    />
                                </q-item-section>
                                <q-item-section>
                                    <q-input
                                    label="Icon (Material/Font Awesome)"
                                    v-model="newSection.icon"
                                    @keyup.enter="createSection"
                                    outlined
                                    bg-color="white"
                                    >
                                        <template v-slot:append>
                                            <q-avatar>
                                                <q-icon size='sm' :name="newSection.icon" />
                                            </q-avatar>
                                        </template>
                                    </q-input>
                                </q-item-section>
                                <q-item-section side>
                                    <q-btn color="secondary" unelevated label="+" size="md" @click="createSection" />
                                </q-item-section>
                            </q-item>
                            <q-item>
                                <q-field class="col-12" borderless label="Default Text" stack-label>
                                    <template v-slot="control">
                                        <basic-editor ref="basiceditor_newsection" noSync v-model="newSection.text" />
                                    </template>
                                </q-field>
                            </q-item>
                        </div>

                        <div v-if="!editSection" class="col-md-6">
                            <q-card flat bordered v-if="sections.length > 0" class="bg-grey-1">
                                <q-toolbar>
                                    <div class="text-grey-8">List of Sections</div>
                                    <q-space />
                                    <q-btn v-if="UserService.isAllowed('sections:update')" flat color="primary" icon="fa fa-edit" @click="editSection = true; editSections = $_.cloneDeep(sections)">
                                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Edit</q-tooltip> 
                                    </q-btn>
                                </q-toolbar>
                                <q-separator />
                                <div v-for="(section, idx) of sections" :key="idx" v-if="section.locale === newSection.locale">
                                    <q-item>
                                        <q-item-section>
                                            <q-input
                                            label="Name"
                                            v-model="section.name"
                                            readonly
                                            outlined
                                            bg-color="white"
                                            />
                                        </q-item-section>
                                        <q-item-section>
                                            <q-input
                                            label="Field"
                                            v-model="section.field"
                                            readonly
                                            outlined
                                            bg-color="white"
                                            />
                                        </q-item-section>
                                        <q-item-section>
                                            <q-input
                                            label="Icon (Material/Font Awesome)"
                                            stack-label
                                            v-model="section.icon"
                                            readonly
                                            outlined
                                            bg-color="white"
                                            >
                                                <template v-slot:append>
                                                    <q-avatar>
                                                        <q-icon size='sm' :name="section.icon" />
                                                    </q-avatar>
                                                </template>
                                            </q-input>
                                        </q-item-section>
                                    </q-item>
                                    <q-item>
                                        <q-field class="col-md-12" borderless label="Default Text" stack-label>
                                            <template v-slot="control">
                                                <basic-editor v-model="section.text" :editable="false" />
                                            </template>
                                        </q-field>
                                    </q-item>
                                    <q-separator size="2px" color="blue-grey-5" v-if="idx !== sections.length-1" />
                                </div>
                            </q-card>
                        </div>
                        <div v-else class="col-md-6">
                            <q-card flat bordered class="bg-grey-1">
                                <q-toolbar>
                                    <div class="text-grey-8">Edit Sections</div>
                                </q-toolbar>
                                <q-separator />
                                <q-card-section>
                                    <draggable v-model="editSections" handle=".handle" ghost-class="drag-ghost" direction="horizontal">
                                        <div v-for="(section, idx) of editSections" :key="idx" v-if="section.locale === newSection.locale">
                                            <q-item>
                                                <q-item-section avatar>
                                                    <q-icon name="mdi-arrow-split-horizontal" class="cursor-pointer handle" color="grey" />
                                                </q-item-section>
                                                <q-item-section>
                                                    <q-input
                                                    label="Name"
                                                    v-model="section.name"
                                                    outlined
                                                    bg-color="white"
                                                    />
                                                </q-item-section>
                                                <q-item-section>
                                                    <q-input
                                                    label="Field"
                                                    v-model="section.field"
                                                    outlined
                                                    bg-color="white"
                                                    />
                                                </q-item-section>
                                                <q-item-section>
                                                    <q-input
                                                    label="Icon (Material/Font Awesome)"
                                                    stack-label
                                                    v-model="section.icon"
                                                    outlined
                                                    bg-color="white"
                                                    >
                                                        <template v-slot:append>
                                                            <q-avatar>
                                                                <q-icon size='sm' :name="section.icon" />
                                                            </q-avatar>
                                                        </template>
                                                    </q-input>
                                                </q-item-section>
                                                <q-item-section side >
                                                    <q-btn color="red" unelevated label="x" size="md" class="q-mt-md" @click="removeSection(idx)"/>
                                                </q-item-section>
                                            </q-item>
                                            <q-item>
                                                <q-field class="col-md-12" borderless label="Default Text" stack-label>
                                                    <template v-slot="control">
                                                        <basic-editor ref="basiceditor_updatesection" noSync v-model="section.text" disableDrop />
                                                    </template>
                                                </q-field>
                                            </q-item>
                                            <q-separator size="2px" color="blue-grey-5" v-if="idx !== editSections.length-1" />
                                        </div>
                                    </draggable>
                                </q-card-section>
                                <q-card-actions align="right" class="q-mr-lg">
                                    <q-btn color="primary" outline @click="editSection = false">Cancel</q-btn>
                                    <q-btn color="secondary" unelevated @click="updateSections">Save</q-btn>
                                </q-card-actions>
                            </q-card>
                        </div>
                    </q-card-section>
                    <q-card-section v-else>
                        <p>Please create at least one Language</p>
                    </q-card-section>
                </q-card>
            </q-tab-panel>
        </q-tab-panels>
    </div>    
</div>
        