<div>
    <breadcrumb
    buttons
    :title="`${$parent.audit.name} (${$parent.audit.auditType || 'Audit Type not set'})`"
    :state="parentState"
    :approvals="parentApprovals"
    :path="($parent.audit.parentId) ? `/audits/${$parent.audit.parentId}` : ''"
    :path-name="($parent.audit.type === 'retest') ? $t('originalAudit') : ($parent.audit.type === 'default') ? $t('multi') : ''"
    >
    </breadcrumb>

    <div class="row content q-pa-md">
        <div class="col-xl-10 col-12 offset-xl-1">
            <q-table
                class="sticky-header-table"
                :columns="dtHeaders"
                :visible-columns="visibleColumns"
                :data="audits"
                :filter="search"
                :filter-method="customFilter"
                :pagination.sync="pagination"
                row-key="_id"
                separator="none"
                :loading="loading"
                @row-dblclick="dblClick"
            >
                <template v-slot:top>
                    <q-toggle :label="$t('myAudits')" v-model="myAudits" />
                    <q-space />
                    <q-btn 
                    color="secondary"
                    unelevated
                    :label="$t('newAudit')"
                    no-caps
                    @click="cleanCurrentAudit(); $refs.createModal.show()"
                    />    
                </template>
            
                <template v-slot:top-row="props">
                    <q-tr>
                        <q-td
                        v-for="col in props.cols"
                        :key="col.name"
                        style="width:20%"
                        >
                            <div v-if="['name', 'users', 'date'].indexOf(col.name) > -1">
                                <q-input 
                                dense
                                :label="$t('search')"
                                v-model="search[col.name]"
                                clearable
                                :autofocus="col.name === 'name'"
                                outlined
                                />
                            </div>
                            <div v-else-if="col.name === 'company'">
                                <q-select
                                    dense 
                                    :label="$t('search')"
                                    :options="companies"
                                    v-model="search.company"
                                    option-value="name"
                                    option-label="name"
                                    map-options
                                    emit-value
                                    clearable
                                    options-sanitize
                                    outlined
                                    />
                            </div>
                            <div v-else-if="col.name === 'language'">
                                <q-select 
                                dense
                                :label="$t('search')"
                                :options="languages"
                                v-model="search.language"
                                option-value="locale"
                                option-label="language"
                                map-options
                                emit-value
                                clearable
                                options-sanitize
                                outlined
                                />
                            </div>
                        </q-td>
                    </q-tr>
                </template>

                <q-td slot="body-cell-language" slot-scope="props">
                    {{convertLocale(props.row.language)}}
                </q-td>
                <q-td slot="body-cell-users" slot-scope="props">
                    {{convertParticipants(props.row)}}
                </q-td>
                <q-td slot="body-cell-reviews" slot-scope="props">
                    <audit-state-icon v-if="$settings.reviews.enabled" :approvals="props.row.approvals" :state="props.row.state" />
                </q-td>
                <q-td slot="body-cell-action" slot-scope="props" style="width:1px">
                    <q-btn flat color="primary" icon="fa fa-plus-circle" @click="updateAuditParent(props.row)">
                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">{{$t('tooltip.addAudit')}}</q-tooltip>                            
                    </q-btn>
                </q-td>

                <template v-slot:bottom="scope">
                    <span v-if="audits.length === 1">1 {{$t('auditNum1')}}</span>                
                    <span v-else>{{audits.length}} {{$t('auditNums')}}</span> 
                    <q-space />
                    <span>{{$t('resultsPerPage')}}</span>
                    <q-select
                    class="q-px-md"
                    v-model="pagination.rowsPerPage"
                    :options="rowsPerPageOptions"
                    emit-value
                    map-options
                    dense
                    options-dense
                    options-cover
                    borderless
                    />
                    <q-pagination input v-model="pagination.page" :max="scope.pagesNumber" />            
                </template>
            </q-table>
        </div>
    </div>

    <q-dialog ref="createModal" persistent @hide="cleanCurrentAudit()">
        <q-card style="width:800px">
            <q-bar class="bg-fixed-primary text-white">
                <div class="q-toolbar-title">
                    {{$t('createAudit')}}
                </div>
                <q-space />
                <q-btn dense flat icon="close" @click="$refs.createModal.hide()" />
            </q-bar>
            <q-card-section>
                <q-input
                :label="$t('name')+' *'"
                :error="!!errors.name"
                :error-message="errors.name"
                autofocus
                @keyup.enter="createAudit()"
                v-model="currentAudit.name"
                outlined
                />
                <q-select
                :label="$t('selectAssessment')+' *'"
                :error="!!errors.auditType"
                :error-message="errors.auditType"
                v-model="currentAudit.auditType"
                :options="auditTypes"
                option-value="name"
                option-label="name"
                emit-value
                map-options
                options-sanitize
                outlined
                /> 
                <q-select 
                :label="$t('selectLanguage')+' *'"
                :error="!!errors.language"
                :error-message="errors.language"
                v-model="currentAudit.language" 
                :options="languages" 
                option-value="locale" 
                option-label="language" 
                emit-value 
                map-options
                options-sanitize
                outlined
                />
            </q-card-section>

            <q-separator />

            <q-card-actions align="right">
                <q-btn color="primary" outline @click="$refs.createModal.hide()">{{$t('btn.cancel')}}</q-btn>
                <q-btn color="secondary" unelevated @click="createAudit()">{{$t('btn.create')}}</q-btn>
            </q-card-actions>
        </q-card>
    </q-dialog>
</div>
