<div>
<div class="row">
    <div class="col-md-10 col-12 offset-md-1 q-mt-md">
        <q-table
            class="sticky-header-table"
            card-class="bg-grey-1"
            table-header-class="bg-grey-1"
            :columns="dtHeaders"
            :data="clients"
            :filter="search"
            :filter-method="customFilter"
            :pagination.sync="pagination"
            row-key="email"
            :loading="loading"
            @row-dblclick="dblClick"
        >

            <template v-slot:top>
                <q-space />
                <q-btn 
                unelevated 
                label="Add Client"
                color="secondary"
                no-caps
                @click="cleanCurrentClient(); $refs.createModal.show()"
                />          
            </template>

            <template v-slot:top-row="props">
                <q-tr>
                    <q-td style="width: 25%">
                        <q-input 
                        dense
                        color="secondary"
                        label="Search..."
                        v-model="search.firstname"
                        clearable
                        outlined
                        bg-color="white"
                        />
                    </q-td>
                    <q-td style="width: 25%">
                        <q-input 
                        dense
                        color="secondary"
                        label="Search..."
                        v-model="search.lastname"
                        clearable
                        outlined
                        bg-color="white"
                        />
                    </q-td>
                    <q-td style="width: 25%">
                        <q-input 
                        dense
                        color="secondary"
                        label="Search..."
                        v-model="search.email"
                        clearable
                        outlined
                        bg-color="white"
                        />
                    </q-td>
                    <q-td style="width: 25%">
                        <q-select 
                        dense
                        color="secondary"
                        label="Search..."
                        v-model="search['company.name']"
                        clearable
                        :options="companies"
                        option-value="name"
                        option-label="name"
                        map-options
                        emit-value
                        options-sanitize
                        outlined
                        bg-color="white"
                        />
                    </q-td>
                    <q-td></q-td>
                </q-tr>
            </template>

            <q-td slot="body-cell-action" slot-scope="props" style="width:1px">
                <q-btn size="sm" flat color="primary" icon="fa fa-edit" @click="clone(props.row); $refs.editModal.show()">
                    <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Edit</q-tooltip>
                </q-btn>
                <q-btn size="sm" flat color="negative" icon="fa fa-trash" @click="confirmDeleteClient(props.row)">
                    <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Delete</q-tooltip>
                </q-btn>
            </q-td>

            <template v-slot:bottom="scope">
                <span v-if="clients.length === 1">1 Client</span>                
                <span v-else>{{clients.length}} Clients</span>  
                <q-space />
                <span>Results per page:</span>
                <q-select
                class="q-px-md"
                v-model="pagination.rowsPerPage"
                :options="rowsPerPageOptions"
                emit-value
                map-options
                dense
                options-dense
                options-cover
                borderless
                />
                <q-pagination input v-model="pagination.page" :max="scope.pagesNumber" />            
            </template> 
    
        </q-table>
    </div>
</div>

<q-dialog ref="createModal" persistent @hide="cleanErrors()">
    <q-card persistent style="width:800px" class="bg-grey-1">
        <q-bar class="bg-primary text-white">
            <span>Add Client</span>
            <q-space />
            <q-btn dense flat icon="close" @click="$refs.createModal.hide()" />
        </q-bar>

        <q-card-section>
            <q-select
            label='Company'
            stack-label
            clearable
            v-model="currentClient.company"
            :options="companies"
            option-value="name"
            option-label="name"
            options-sanitize
            outlined
            bg-color="white"
            />
        </q-card-section>
        <q-card-section>
            <q-input
            autofocus
            label='Firstname *'
            :error="!!errors.firstname"
            :error-message="errors.firstname"
            hide-bottom-space
            @keyup.enter="createClient()"
            v-model="currentClient.firstname" 
            outlined
            bg-color="white"
            />
        </q-card-section>
        <q-card-section>
            <q-input
            label='Lastname *'
            :error="!!errors.lastname"
            :error-message="errors.lastname"
            hide-bottom-space
            @keyup.enter="createClient()"
            v-model="currentClient.lastname"
            outlined
            bg-color="white"
            />
        </q-card-section>
        <q-card-section>
            <q-input
            label='Email *'
            :error="!!errors.email"
            :error-message="errors.email"
            hide-bottom-space
            @keyup.enter="createClient()"
            v-model="currentClient.email" 
            outlined
            bg-color="white"
            />
        </q-card-section>
        <q-card-section>
            <q-input
            label='Function'
            @keyup.enter="createClient()"
            v-model="currentClient.title" 
            outlined
            bg-color="white"
            />
        </q-card-section>
        <q-card-section>
            <q-input
            label='Phone'
            @keyup.enter="createClient()"
            v-model="currentClient.phone" 
            outlined
            bg-color="white"
            />
        </q-card-section>
        <q-card-section>
            <q-input
            label='Cell'
            @keyup.enter="createClient()"
            v-model="currentClient.cell" 
            outlined
            bg-color="white"
            />
        </q-card-section>  
                
        <q-separator />
        
        <q-card-actions align="right">
            <q-btn color="primary" outline @click="$refs.createModal.hide()">Cancel</q-btn>
            <q-btn color="secondary" unelevated @click="createClient()">Create</q-btn>
        </q-card-actions>
    </q-card>
</q-dialog>

<q-dialog ref="editModal" persistent @hide="cleanErrors()">
    <q-card persistent style="width:800px" class="bg-grey-1">
        <q-bar class="bg-primary text-white">
            <span>Edit Client</span>
            <q-space />
            <q-btn dense flat icon="close" @click="$refs.editModal.hide()" />
        </q-bar>

        <q-card-section>
                <q-select
                label='Company'
                stack-label
                clearable
                v-model="currentClient.company"
                :options="companies"
                option-value="name"
                option-label="name"
                options-sanitize
                outlined
                bg-color="white"
                />
            </q-card-section>
            <q-card-section>
                <q-input
                label='Firstname *'
                :error="!!errors.firstname"
                :error-message="errors.firstname"
                hide-bottom-space
                @keyup.enter="updateClient()"
                v-model="currentClient.firstname" 
                outlined
                bg-color="white"
                />
            </q-card-section>
            <q-card-section>
                <q-input
                label='Lastname *'
                :error="!!errors.lastname"
                :error-message="errors.lastname"
                hide-bottom-space
                ref="lastnameInput"
                @keyup.enter="updateClient()"
                v-model="currentClient.lastname"
                outlined
                bg-color="white"
                />
            </q-card-section>
            <q-card-section>
                <q-input
                label='Email *'
                :error="!!errors.email"
                :error-message="errors.email"
                hide-bottom-space
                @keyup.enter="updateClient()"
                v-model="currentClient.email" 
                outlined
                bg-color="white"
                />
            </q-card-section>
            <q-card-section>
                <q-input
                label='Function'
                @keyup.enter="updateClient()"
                v-model="currentClient.title" 
                outlined
                bg-color="white"
                />
            </q-card-section>
            <q-card-section>
                <q-input
                label='Phone'
                @keyup.enter="updateClient()"
                v-model="currentClient.phone" 
                outlined
                bg-color="white"
                />
            </q-card-section>
            <q-card-section>
                <q-input
                label='Cell'
                @keyup.enter="updateClient()"
                v-model="currentClient.cell" 
                outlined
                bg-color="white"
                />
            </q-card-section>  
        
        <q-separator />

        <q-card-actions align="right">
            <q-btn color="primary" outline @click="$refs.editModal.hide()">Cancel</q-btn>
            <q-btn color="secondary" unelevated @click="updateClient()">Update</q-btn>
        </q-card-actions>
    </q-card>
</q-dialog>
</div>
        