<div>

<breadcrumb buttons :title="`${$parent.audit.name} (${$parent.audit.auditType || 'Audit Type not set'})`" :approved="fullyApproved">
    <div slot="buttons">
        <q-btn-dropdown 
        class="q-mr-sm" 
        label="Import" 
        no-caps 
        color="grey-4" 
        text-color="black"
        auto-close
        v-if="this.isEditing"
        >
            <q-list>
                <q-item clickable @click="$refs.nmapFile.click()">
                    <q-item-section>
                        <q-item-label>
                            Nmap
                            <input
                            type="file"
                            ref="nmapFile"
                            accept=".xml"
                            class="hidden"
                            @change="importNetworkScan($event.target.files, 'nmap')"
                            />
                        </q-item-label>
                    </q-item-section>
                </q-item>
                <q-separator />
                <q-item clickable @click="$refs.nessusFile.click()">
                    <q-item-section>
                        <q-item-label>
                            Nessus
                            <input
                            type="file"
                            ref="nessusFile"
                            accept=".nessus"
                            class="hidden"
                            @change="importNetworkScan($event.target.files, 'nessus')"
                            />
                        </q-item-label>
                    </q-item-section>
                </q-item>
            </q-list>
        </q-btn-dropdown>
        <q-btn v-if="this.isEditing" color="positive" label="Save (ctrl+s)" no-caps @click="updateAuditNetwork" />
    </div>
</breadcrumb>

<div class="row q-col-gutter-md q-pa-md">
    <div class="col-md-6">
        <q-card>
            <q-card-section>Associate imported hosts with Scopes</q-card-section>
            <q-separator />
            <q-card-section v-for="scope of audit.scope" :key="scope.name">
                    <span class="text-h6">{{scope.name}}</span>
                    <div class="q-col-gutter-md row">
                            <q-select
                            class="col-md-12"
                            multiple
                            :label="selectHostsLabel"
                            v-model="selectedTargets[scope.name]"
                            :options="targetsOptions"
                            use-chips
                            clearable
                            options-sanitize
                            >
                            <template v-slot:append>
                                <q-btn round dense flat icon="add" @click.close="updateScopeHosts(scope)" />
                              </template>
                            </q-select>
                            <div v-for="(host, index) of scope.hosts">
                            <q-chip 
                            :key="host.ip"
                            color="blue-grey-7"
                            text-color="white"
                            dense
                            square
                            class="col-md-6 cursor-pointer"
                            @click.native="currentHost = $_.cloneDeep(host)"
                            removable
                            @remove="scope.hosts.splice(index, 1)"
                            >
                            {{host.ip}}
                            </q-chip>
                        </div>
                    </div>
            </q-card-section>
        </q-card>
    </div>
    <div v-if="currentHost !== null" class="col-md-6">
        <q-table
        :title="`${currentHost.ip} (${currentHost.hostname})`"
        :data="currentHost.services"
        :columns="dtHostHeaders"
        :pagination.sync="hostPagination"
        row-key="port"
        style="background-color: white"
        />
    </div>
</div>
</div>