// app global css

/* Hack colors */

// Hack for white text on white bg in q-btn elements 
.q-btn.bg-white.text-white {
    color: #000000!important;
}

/* Home Drawer style */
/*.home-drawer>.q-list>.q-link:hover:after,
.home-drawer>.q-router-link--active:after,
.home-drawer>.q-item--active:after {
    --color: #77C84E;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    height: 100%;
    background: var(--color);
}*/

.home-drawer .q-router-link--active {
    background-color: var(--q-color-primary);
    opacity: 0.9;
    color: white!important;
}

.chip-center .q-chip-main {
    margin: auto;
}

// Make one line for each chip (for example in q-select)
.q-chip-one-line .q-chip {
    margin-right: 100%;
}

.dropzone {
    border: dashed;
    border-color: $blue;
    border-width: 2px;
    border-radius: 5px;
    height: 50px!important;
    color: $grey-8;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// For handling \n and tabs
.text-pre-wrap {
    white-space: pre-wrap;
}

.sticky-header-table
    /* height or max-height is important */
    max-height: calc(100vh - 82px)

    thead tr:first-child th
        border-bottom: 0
        // border-bottom: 1px solid rgba(0,0,0,0.12)
    
    thead tr:first-child th
        position: sticky
        z-index: 1
        top: 0

    /* this is when the loading indicator appears */
    &.q-table--loading thead tr:last-child th
        z-index: 2

    tr
        cursor: initial !important

.sticky-header-table-addfinding
    /* height or max-height is important */
    max-height: calc(100vh - 132px)

    thead tr:first-child th
        border-bottom: 0
        // border-bottom: 1px solid rgba(0,0,0,0.12)
    
    thead tr:first-child th
        position: sticky
        z-index: 1
        top: 0

    /* this is when the loading indicator appears */
    &.q-table--loading thead tr:last-child th
        z-index: 2

    tr
        cursor: initial !important