// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Stylus variables found in Quasar's source Stylus files. Setting
// variables before Quasar's Stylus will use these variables rather than
// Quasar's default Stylus variable values. Stylus variables specific
// to the themes belong in either the variables.ios.styl or variables.mat.styl files.

// Check documentation for full list of Quasar variables


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding.

$primary   = #3c4759
$secondary = #26A69A
$tertiary  = #555

$neutral   = #E0E1E2
$positive  = #21BA45
$negative  = #DB2828
$info      = #31CCEC
$warning   = #F2C037

$item-font-size = 14px
$input-font-size = 14px
$typography-font-family = Helvetica, Arial, sans-serif

.q-input-target
    font-size 14px!important

// Color variables
$diffBackground = #ffebee // red-1
$diffBackgroundDark = #f4433626 // red-6 + opacity

$diffTextNegative = #fdb8c0

$cDark = #1d1d1d // dark
$darkPrimary = #9fa8da // indigo-11
$darkGrey = #424242 // grey-9

// $cwhite = #fff

// Light mode
light-mode-colors()

    // Diff background color
    .bg-diffbackground
        background: $diffBackground!important
    .diffbackground-text
        color: $diffBackground
    
    .q-field:not(.basic-editor) .q-field__control,
    .editor
        background white
    
    .q-card:not(.editor):not(.cvsscalculator),
    .q-table__container
        background #fafafa // grey-1
    
    .q-table__container thead tr
        background: #fafafa // grey-1
    
    // Hack for white text on white bg in q-btn elements 
    .q-btn.bg-white.text-white
        color: #000000!important


// Dark mode
dark-mode-colors()
    // Diff background color
    .bg-diffbackground
        background: $diffBackgroundDark!important
    .diffbackground-text
        color: $diffBackgroundDark
    
    .bg-white
        background: $cDark!important
    .bg-blue-grey-5,
    .bg-blue-grey-2,
    .bg-grey-4,
    .bg-grey-3
        background: $darkGrey!important

    .bg-light-blue-2
        background: #03a9f436!important // light-blue-6
    .bg-orange-2
        background: #ff980026!important // orange-6
    
    .text-grey-8
        color: #9e9e9e!important // grey-6

    --q-color-primary: $darkPrimary // for field border default
    
    .q-table__container thead tr
        background: $cDark

    .q-field:not(.basic-editor) .q-field__control,
    .expansion-header
    .editor
        background #333333!important

    .editor p code
        background: #616161
        color: white
    
    .diffrem
        background-color: #a03936
    pre .diffrem
        background-color: #f44336 // red-6

    .diffadd
        background-color: #1d572d
    pre .diffadd
        background-color: #4caf50 // green-6
    
    .login-form
        background: white

// Common colors
common-colors()
    // fixed color across themes
    .bg-fixed-primary
        background: $primary
    .text-fixed-primary
        color: $primary

// Dark mode (Quasar global dark mode)
.body--dark {
    common-colors()
    dark-mode-colors()
}

// Dark mode (Quasar global dark mode)
.body--light {
    common-colors()
    light-mode-colors()
}