<div>
<div class="row">
    <div class="col-md-10 col-12 offset-md-1 q-mt-md">
        <q-table
            class="sticky-header-table"
            card-class="bg-grey-1"
            table-header-class="bg-grey-1"
            :columns="dtHeaders"
            :data="companies"
            :filter="search"
            :filter-method="customFilter"
            :pagination.sync="pagination"
            row-key="name"
            :loading="loading"
            @row-dblclick="dblClick"
        >
            <template v-slot:top>
                <q-space />
                <q-btn 
                unelevated 
                label="Add Company"
                color="secondary" 
                no-caps
                @click="cleanCurrentCompany(); $refs.createModal.show()"
                />    
            </template>

            <template v-slot:top-row="props">
                <q-tr>
                    <q-td style="width: 50%">
                        <q-input 
                        dense
                        color="secondary"
                        label="Search..."
                        v-model="search.name"
                        clearable
                        outlined
                        bg-color="white"
                        />
                    </q-td>
                    <q-td></q-td>
                    <q-td></q-td>
                </q-tr>
            </template>

            <q-td slot="body-cell-logo" slot-scope="props">
                <img v-if="props.row.logo" :src="props.row.logo" style="max-height:42px; max-width:42px" />
            </q-td>

            <q-td slot="body-cell-action" slot-scope="props" style="width:1px">
                <q-btn size="sm" flat color="primary" icon="fa fa-edit" @click="clone(props.row); $refs.editModal.show()">
                    <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Edit</q-tooltip>
                </q-btn>
                <q-btn size="sm" flat color="negative" icon="fa fa-trash" @click="confirmDeleteCompany(props.row)">
                    <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Delete</q-tooltip>
                </q-btn>
            </q-td>

            <template v-slot:bottom="scope">
                <span v-if="companies.length === 1">1 Company</span>                
                <span v-else>{{companies.length}} Companies</span>    
                <q-space />
                <span>Results per page:</span>
                <q-select
                class="q-px-md"
                v-model="pagination.rowsPerPage"
                :options="rowsPerPageOptions"
                emit-value
                map-options
                dense
                options-dense
                options-cover
                borderless
                />
                <q-pagination input v-model="pagination.page" :max="scope.pagesNumber" />            
            </template> 
    
        </q-table>
    </div>
</div>

<q-dialog ref="createModal" persistent @hide="cleanErrors()">
    <q-card style="width:800px" class="bg-grey-1">
        <q-bar class="bg-primary text-white">
            <div class="q-toolbar-title">
                Add Company
            </div>
            <q-space />
            <q-btn dense flat icon="close" @click="$refs.createModal.hide()" />
        </q-bar>

        <q-card-section>
            <div class="row">
                <q-input
                    label='Name *'
                    autofocus
                    class="col-md-12"
                    :error="!!errors.name"
                    :error-message="errors.name"
                    @keyup.enter="createCompany()"
                    v-model="currentCompany.name" 
                    outlined
                    bg-color="white"
                    />
                <q-uploader
                    ref="addUploader"
                    class="col-md-12"
                    url=""
                    label='Logo'
                    accept='.gif,.jpg,.jpeg,.png'
                    hide-upload-btn
                    @added="handleImage"
                />
            </div>
        </q-card-section>

        <q-card-actions align="right">
            <q-btn color="primary" outline @click="$refs.createModal.hide()">Cancel</q-btn>
            <q-btn color="secondary" unelevated @click="createCompany()">Create</q-btn>
        </q-card-actions>
    </q-card>
</q-dialog>

<q-dialog ref="editModal" persistent @hide="cleanErrors()">
    <q-card style="width:800px" class="bg-grey-1">
        <q-bar class="bg-primary text-white">
            <div class="q-toolbar-title">
                Edit Company
            </div>
            <q-space />
            <q-btn dense flat icon="close" @click="$refs.editModal.hide()" />
        </q-bar>

        <q-card-section>
            <div class="row">
                <q-input
                    label='Name *'
                    autofocus
                    class="col-md-12"
                    :error="!!errors.name"
                    :error-message="errors.name"
                    ref="nameInput"
                    @keyup.enter="updateCompany()"
                    v-model="currentCompany.name"
                    outlined
                    bg-color="white"
                    />
                <q-uploader
                    ref="addUploader"
                    class="col-md-12"
                    url=""
                    label='Logo'
                    accept='.gif,.jpg,.jpeg,.png'
                    hide-upload-btn
                    @added="handleImage"
                />
            </div>
        </q-card-section>

        <q-card-actions align="right">
            <q-btn color="primary" outline @click="$refs.editModal.hide()">Cancel</q-btn>
            <q-btn color="secondary" unelevated @click="updateCompany()">Update</q-btn>
        </q-card-actions>
    </q-card>
</q-dialog>
</div>
        