<div>
<div class="row">
    <div class="col-md-10 col-12 offset-md-1 q-mt-md">
        <q-table
            class="sticky-header-table"
            card-class="bg-grey-1"
            table-header-class="bg-grey-1"
            :columns="dtHeaders"
            :data="templates"
            :filter="search"
            :filter-method="customFilter"
            :pagination.sync="pagination"
            row-key="name"
            :loading="loading"
            @row-dblclick="dblClick"
        >
            <template v-slot:top>
                <q-space />
                <q-btn 
                v-if="UserService.isAllowed('templates:create')"
                unelevated
                label="Create Template"
                color="secondary" 
                no-caps
                @click="cleanCurrentTemplate; $refs.createModal.show()"
                />     
            </template>

            <template v-slot:top-row="props">
                <q-tr>
                    <q-td style="width: 50%">
                        <q-input 
                        dense
                        color="secondary"
                        label="Search..."
                        v-model="search.name"
                        clearable
                        outlined
                        bg-color="white"
                        />
                    </q-td>
                    <q-td style="width: 50%">
                        <q-input 
                        dense
                        color="secondary"
                        label="Search..."
                        v-model="search.ext"
                        clearable
                        outlined
                        bg-color="white"
                        />
                    </q-td>
                    <q-td></q-td>
                </q-tr>
            </template>

            <q-td slot="body-cell-action" slot-scope="props" style="width:1px">
                <q-btn v-if="UserService.isAllowed('templates:update')" size="sm" flat color="primary" icon="fa fa-edit" @click="clone(props.row); $refs.editModal.show()">
                    <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Edit</q-tooltip>
                </q-btn>
                <q-btn size="sm" flat color="info" icon="fa fa-download" @click="downloadTemplate(props.row)">
                    <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Download</q-tooltip>
                </q-btn>
                <q-btn v-if="UserService.isAllowed('templates:delete')" size="sm" flat color="negative" icon="fa fa-trash" @click="confirmDeleteTemplate(props.row)">
                    <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">Delete</q-tooltip>
                </q-btn>
            </q-td>
            
            <template v-slot:bottom="scope">
                <span v-if="templates.length === 1">1 Template</span>                
                <span v-else>{{templates.length}} Templates</span>     
                <q-space />
                <span>Results per page:</span>
                <q-select
                class="q-px-md"
                v-model="pagination.rowsPerPage"
                :options="rowsPerPageOptions"
                emit-value
                map-options
                dense
                options-dense
                options-cover
                borderless
                />
                <q-pagination input v-model="pagination.page" :max="scope.pagesNumber" />            
            </template> 
    
        </q-table>
    </div>
</div>

<q-dialog ref="createModal" persistent @hide="cleanCurrentTemplate()">
    <q-card style="width:800px" class="bg-grey-1">
        <q-bar class="bg-primary text-white">
            <div class="q-toolbar-title">
                Create Template
            </div>
            <q-space />
            <q-btn dense flat icon="close" @click="$refs.createModal.hide()" />
        </q-bar>

        <q-card-section>
            <div class="row">
                <q-input
                label='Name *'
                autofocus
                class="col-md-12 col-12"
                stack-label
                :error="!!errors.name"
                :error-message="errors.name"
                @keyup.enter="createTemplate()"
                v-model="currentTemplate.name" 
                outlined
                bg-color="white"
                />
                
                <q-field class="col-md-12 col-12" no-error-icon borderless :error="!!errors.file" :error-message="errors.file">
                    <template v-slot:control>
                        <q-uploader
                        class="col-md-12 col-12"
                        label='File *'
                        accept='.doc,.docx,.docm,.ppt,.pptx'
                        hide-upload-btn
                        @added="handleFile"
                        />
                    </template>
                </q-field>
            </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
            <q-btn color="primary" outline @click="$refs.createModal.hide()">Cancel</q-btn>
            <q-btn color="secondary" unelevated @click="createTemplate()">Create</q-btn>
        </q-card-actions>
    </q-card>
</q-dialog>

<q-dialog ref="editModal" persistent @hide="cleanCurrentTemplate()">
    <q-card style="width:800px" class="bg-grey-1">
        <q-bar class="bg-primary text-white">
            <div class="q-toolbar-title">
                Edit Template
            </div>
            <q-space />
            <q-btn dense flat icon="close" @click="$refs.editModal.hide()" />
        </q-bar>

        <q-card-section>
            <div class="row">
                <q-input
                label='Name *'
                autofocus
                class="col-md-12 col-12"
                stack-label
                :error="!!errors.name"
                :error-message="errors.name"
                @keyup.enter="updateTemplate()"
                v-model="currentTemplate.name" 
                outlined
                bg-color="white"
                />
                
                <q-field class="col-md-12 col-12" no-error-icon borderless :error="!!errors.file" :error-message="errors.file">
                    <template v-slot:control>
                        <q-uploader
                        class="col-md-12"
                        label='File *'
                        accept='.doc,.docx,.docm,.ppt,.pptx'
                        hide-upload-btn
                        @added="handleFile"
                        />
                    </template>
                </q-field>
            </div>
        </q-card-section>

        <q-separator />

        <q-card-actions align="right">
            <q-btn color="primary" outline @click="$refs.editModal.hide()">Cancel</q-btn>
            <q-btn color="secondary" unelevated @click="updateTemplate()">Update</q-btn>
        </q-card-actions>
    </q-card>
</q-dialog>
</div>
