<div v-if="!loading" class="row">
    <div class="col-md-8 col-12 offset-md-2 q-mt-md">

        <q-card class="q-my-md">
          <q-card-section class="q-py-none bg-blue-grey-5 text-white">
              <q-item style="padding:0px;">
                  <q-item-section class="col-md-11">
                      <div class="text-h6">{{$t('generalSettings')}}</div>
                  </q-item-section>
              </q-item>
          </q-card-section>
          <q-card-section>
            <div class="text-bold">{{$t('changeDisplayLanguage')}}</div>
            <br/>
            <div class="text-grey-8">{{$t('changeDisplayLanguageInfo')}}</div>
            <br/>
            <q-item>
              <q-item-section class="col-md-2">
                <language-selector></language-selector>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>

        <q-card v-if="UserService.isAllowed('settings:read')" class="q-my-md">
            <q-card-section class="q-py-none bg-blue-grey-5 text-white">
                <q-item style="padding:0px;">
                    <q-item-section class="col-md-11">
                        <div class="text-h6">{{$t('reports')}}</div>
                    </q-item-section>
                </q-item>
            </q-card-section>
            <div v-if="UserService.isAllowed('settings:update')">
                <q-card-section>
                    <div class="text-bold">{{$t('reportsImagesBorder')}}</div>
                    <br/>
                    <div class="text-grey-8">{{$t('addBorderToImages')}}</div>
                    <br/>
                    <q-item>
                        <q-item-section class="col-md-2">
                            <q-toggle :label="$t('btn.enable')" v-model="settings.report.private.imageBorder" />
                        </q-item-section>
                        <q-item-section class="col-md-1">
                            <input :disabled="!settings.report.private.imageBorder" type="color" id="colorpicker" v-model="settings.report.private.imageBorderColor" />
                        </q-item-section>
                        <q-item-section class="col-md-2">
                            <label :disabled="!settings.report.private.imageBorder" for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.private.imageBorderColor}}</label>
                        </q-item-section>
                    </q-item>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <div class="text-bold">{{$t('cvssColors')}}</div>
                    <br/>
                    <div class="text-grey-8">{{$t('changeCvssColorsDescription')}}</div>
                    <br/>
                    <q-list>
                        <q-item>
                            <q-item-section class="col-md-2">
                                <label class="vertical-center">{{$t('critical')}} : </label>
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <input type="color" id="colorpicker" v-model="settings.report.public.cvssColors.criticalColor"/>
                            </q-item-section>
                            <q-item-section class="col-md-2">
                                <label for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.public.cvssColors.criticalColor}}</label>
                            </q-item-section>
                        </q-item>
                        <q-item>
                            <q-item-section class="col-md-2">
                                <label class="vertical-center">{{$t('high')}} : </label>
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <input type="color" id="colorpicker" v-model="settings.report.public.cvssColors.highColor"/>
                            </q-item-section>
                            <q-item-section class="col-md-2">
                                <label for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.public.cvssColors.highColor}}</label>
                            </q-item-section>
                        </q-item>
                        <q-item>
                            <q-item-section class="col-md-2">
                                <label class="vertical-center">{{$t('medium')}} : </label>
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <input type="color" id="colorpicker" v-model="settings.report.public.cvssColors.mediumColor"/>
                            </q-item-section>
                            <q-item-section class="col-md-2">
                                <label for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.public.cvssColors.mediumColor}}</label>
                            </q-item-section>
                        </q-item>
                        <q-item>
                            <q-item-section class="col-md-2">
                                <label class="vertical-center">{{$t('low')}} : </label>
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <input type="color" id="colorpicker" v-model="settings.report.public.cvssColors.lowColor"/>
                            </q-item-section>
                            <q-item-section class="col-md-2">
                                <label for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.public.cvssColors.lowColor}}</label>
                            </q-item-section>
                        </q-item>
                        <q-item>
                            <q-item-section class="col-md-2">
                                <label class="vertical-center">{{$t('informational')}} : </label>
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <input type="color" id="colorpicker" v-model="settings.report.public.cvssColors.noneColor"/>
                            </q-item-section>
                            <q-item-section class="col-md-2">
                                <label for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.public.cvssColors.noneColor}}</label>
                            </q-item-section>
                        </q-item>
                    </q-list>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <div class="text-bold">{{$t('captions')}}</div>
                    <br/>
                    <div class="text-grey-8">{{$t('captionsDescription')}}</div>
                    <br/>
                    <q-item>
                        <q-item-section class="col-md-6">
                            <q-select
                            label="Caption Labels'"
                            stack-label
                            outlined
                            v-model="settings.report.public.captions"
                            use-input
                            use-chips
                            multiple
                            hide-dropdown-icon
                            options-sanitize
                            input-debounce="0"
                            new-value-mode="add-unique"
                        />
                        </q-item-section>
                    </q-item>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <div class="text-bold">{{$t('highlightWarning')}}</div>
                    <br/>
                    <div class="text-grey-8" v-html="$t('highlightWarningDescription')"></div>
                    <br/>
                    <q-item>
                        <q-item-section class="col-md-2">
                            <q-toggle :label="$t('btn.enable')" v-model="settings.report.public.highlightWarning" />
                        </q-item-section>
                        <q-item-section class="col-md-1">
                            <input
                            v-model="settings.report.public.highlightWarningColor"
                            :disabled="!settings.report.public.highlightWarning"
                            type="color"
                            id="colorpicker" 
                            style="pointer-events: none"
                            >
                                <q-popup-proxy>
                                    <div class="row q-pa-xs" style="width: 144px; overflow: hidden">
                                        <div class="q-gutter-xs">
                                            <q-btn 
                                            v-close-popup
                                            v-for="color of highlightPalette" :key="color" 
                                            square
                                            :style="{'background-color': color, 'width': '24px', 'height': '24px'}"
                                            @click="settings.report.public.highlightWarningColor = color"
                                            >
                                            </q-btn>
                                        </div>
                                    </div>
                                </q-popup-proxy>
                            </input>
                        </q-item-section>
                        <q-item-section class="col-md-2">
                            <label
                            :disabled="!settings.report.public.highlightWarning"
                            for="colorpicker"
                            class="vertical-center">
                                {{$t('currentColor')}}: {{settings.report.public.highlightWarningColor}}
                            </label>
                        </q-item-section>
                    </q-item>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <div class="text-bold">{{$t('defaultFieldsRequired')}}</div>
                    <br/>
                    <div class="text-grey-8">{{$t('defaultFieldsRequiredDescription')}}</div>
                    <br/>
                    <q-item>
                        <q-item-label>
                            <div class="text-bold text-italic">{{$t('general')}}</div>
                        </q-item-label>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('company')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.company" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('client')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.client" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('startDate')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.dateStart" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('endDate')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.dateEnd" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('reportingDate')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.dateReport" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('scope')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.scope" />
                        </q-item-section>
                    </q-item>
                    <br/>
                    <q-item>
                        <q-item-label>
                            <div class="text-bold text-italic">{{$t('findings')}}</div>
                        </q-item-label>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('type')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.findingType" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('description')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.findingDescription" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('observation')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.findingObservation" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('references')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.findingReferences" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('proofs')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.findingProofs" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('affectedAssets')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.findingAffected" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('remediationDifficulty')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.findingRemediationDifficulty" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('remediationPriority')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.findingPriority" />
                        </q-item-section>
                    </q-item>
                    <q-item dense>
                        <q-item-section class="col-md-2">
                            <q-item-label>{{$t('remediation')}} {{$t('required')}}</q-item-label>
                        </q-item-section>
                        <q-item-section>
                            <q-toggle v-model="settings.report.public.requiredFields.findingRemediation" />
                        </q-item-section>
                    </q-item>
                </q-card-section>
            </div>
        </q-card>

        <q-card v-if="UserService.isAllowed('settings:read')" class="q-my-lg">
            <q-card-section class="q-py-none bg-blue-grey-5 text-white">
                <q-item style="padding:0px;">
                    <q-item-section class="col-11">
                        <div class="text-h6">{{$t('reviews')}}</div>
                    </q-item-section>
                    <q-item-section class="col-md-1 items-center" >
                        <q-toggle
                            color="primary"
                            keep-color
                            :disable="!canEdit"
                            v-model="settings.reviews.enabled"
                        />
                    </q-item-section>
                </q-item>
            </q-card-section>
            <q-separator />
            <q-card-section>
                <div class="text-bold">{{$t('auditUpdateAfterApproval')}}</div>
                <br/>
                <div class="text-grey-8">
                    {{$t('changeApproveBehaviorIfAuditUpdated')}}
                </div>
            </q-card-section>
            <q-card-section>
                <q-btn-toggle
                    :disable="!canEdit || !settings.reviews.enabled"
                    v-model="settings.reviews.private.removeApprovalsUponUpdate"
                    class="toggleButton"
                    spread
                    no-caps
                    rounded
                    unelevated
                    toggle-color="primary"
                    color="white"
                    text-color="primary"
                    :options="[
                    {label: $t('removeAllPriorApprovals'), value: true},
                    {label: $t('keepAllPriorApprovals'), value: false}
                    ]"
                />
            </q-card-section>
            <q-separator />
            <q-card-section>
                <div class="text-bold">{{$t('mandatoryReview')}}</div>
                <br/>
                <div class="text-grey-8" v-html="$t('mandatoryReviewInfo')"></div>
            </q-card-section>
            <q-card-section>
                <q-item>
                    <q-item-section class="col-2">
                        <q-toggle
                            :label="$t('btn.enable')"
                            v-model="settings.reviews.public.mandatoryReview"
                            color="primary"
                            keep-color
                            id="toggle"
                            :disable="!canEdit || !settings.reviews.enabled"
                        />
                    </q-item-section>
                    <q-item-section class="col-2">
                        <q-input
                            v-model.number="settings.reviews.public.minReviewers"
                            type="number"
                            :disable="!canEdit || !settings.reviews.enabled"
                            filled
                            :min="1"
                            :max="99"
                            :hint="$t('minimalNumberOfReviewers')"
                        />
                    </q-item-section>
                </q-item>
            </q-card-section>
        </q-card>

        <q-card v-if="UserService.isAllowed('backups:read')" class="q-my-lg">
            <q-card-section class="q-py-none bg-blue-grey-5 text-white">
                <q-item style="padding:0px;">
                    <q-item-section class="col-11">
                        <div class="text-h6">{{$t('backups')}}</div>
                    </q-item-section>
                </q-item>
            </q-card-section>
            <q-separator />
            <q-card-section>
                <div class="text-bold">{{$t('listBackups')}}</div>
                <br/>
                <div class="text-grey-8">
                    {{$t('listBackupDescription')}}
                </div>
            </q-card-section>
            <q-card-section v-if="backupStatus.state === 'backup_error' || backupStatus.state === 'restore_error'">
                <q-banner class="text-white bg-red">
                    {{$t(backupStatus.state) + ': ' + backupStatus.message}}
                </q-banner>
            </q-card-section>
            
            <q-table
                class="sticky-header-table"
                :columns="dtBackupHeaders"
                :data="backups"
                :pagination.sync="pagination"
                :filter="searchBackup"
                :filter-method="customFilter"
                row-key="slug"
                :loading="loadingBackups"
                hide-header
            >
                <template v-slot:top>
                    <div class="row full-width">
                        <q-input
                        class="col-md-6"
                        :label="$t('search')"
                        dense
                        v-model="searchBackup.name"
                        clearable
                        outlined
                        />
                        <q-space />
                        <q-btn 
                        class="col-md-2"
                        v-if="UserService.isAllowed('backups:create')"
                        unelevated
                        :loading="backupStatus.operation !== 'idle' || uploadBackupLoading"
                        :label="$t('createBackup')"
                        color="secondary" 
                        no-caps
                        @click="$refs.createBackupModal.show()"
                        >
                            <template v-slot:loading>
                                <q-spinner-hourglass class="on-left" />
                                <span v-if="backupStatus.operation !== 'idle'">
                                    {{$t(backupStatus.operation) + ' - ' + $t(backupStatus.state)}}
                                </span>
                                <span v-else>
                                    {{$t('backup_uploading')}} - {{uploadProgress}}%
                                </span>
                          </template>
                        </q-btn>
                        <q-btn class="q-ml-md" flat icon="more_vert" :disabled="backupStatus.operation !== 'idle'">
                            <q-menu auto-close content-style="width: 300px">
                                <q-item clickable>
                                    <q-item-section @click="getBackups()">
                                        {{ $t('refresh') }}
                                    </q-item-section>
                                </q-item>
                                <q-item clickable>
                                    <q-item-section @click=$refs.uploadBackupModal.show()>
                                        {{ $t('upload')}} {{$t('backup') }}
                                    </q-item-section>
                                </q-item>
                            </q-menu>
                        </q-btn>
                    </div>
                </template>

                <q-td slot="body-cell-name" slot-scope="props" class="cursor-pointer">
                    <div @click="backupRowClick(props.row)">
                        <span>{{props.row.name}}</span>
                        <q-icon v-if="props.row.protected" name="lock" right />
                    </div>
                </q-td>

                <q-td slot="body-cell-action" slot-scope="props" style="width:1px">
                    <q-btn
                    v-if="UserService.isAllowed('backups:update')" 
                    size="sm" 
                    flat 
                    color="info" 
                    icon="fa fa-download" 
                    @click="downloadBackup(props.row)"
                    :disabled="backupStatus.operation !== 'idle'"
                    >
                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">{{$t('tooltip.download')}}</q-tooltip>
                    </q-btn>
                    <q-btn
                    v-if="UserService.isAllowed('backups:delete')"
                    size="sm" 
                    flat 
                    color="negative" 
                    icon="fa fa-trash" 
                    @click="confirmDeleteBackup(props.row)"
                    :disabled="backupStatus.operation !== 'idle'"
                    >
                        <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">{{$t('tooltip.delete')}}</q-tooltip>
                    </q-btn>
                </q-td>
                
                <template v-slot:bottom="scope">
                    <span v-if="backups.length === 1">1 {{$t('quantifier')}}{{$t('backup')}}</span>                
                    <span v-else>{{backups.length}} {{$t('quantifier')}}{{$t('backups')}}</span>     
                    <q-space />
                    <span>{{$t('resultsPerPage')}}</span>
                    <q-select
                    class="q-px-md"
                    v-model="pagination.rowsPerPage"
                    :options="rowsPerPageOptions"
                    emit-value
                    map-options
                    dense
                    options-dense
                    options-cover
                    borderless
                    />
                    <q-pagination input v-model="pagination.page" :max="scope.pagesNumber" />            
                </template> 
        
            </q-table>
            
            <q-dialog ref="createBackupModal" no-backdrop-dismiss @hide="cleanCurrentBackup()">
                <q-card style="width:800px">
                    <q-bar class="bg-fixed-primary text-white">
                        <div class="q-toolbar-title">
                            {{$t('createBackup')}}
                        </div>
                        <q-space />
                        <q-btn dense flat icon="close" @click="$refs.createBackupModal.hide()" />
                    </q-bar>
            
                    <q-card-section>
                        <q-input
                        :label="$t('name')+' *'"
                        autofocus
                        class="col-md-12 col-12"
                        stack-label
                        @keyup.enter="createBackup()"
                        v-model="currentBackup.name" 
                        outlined
                        />
                    </q-card-section>
                    <q-card-section class="q-pt-none">
                        <span class="text-bold">{{$t('backupType')}}</span>
                        <div class="q-gutter-sm">
                            <q-radio v-model="backupType" val="full" :label="$t('full')" />
                            <q-radio v-model="backupType" val="partial" :label="$t('partial')" />
                        </div>
                    </q-card-section>
                    <q-card-section v-if="backupType == 'partial'" class="q-pt-none">
                        <span class="text-bold">{{$t('backupOptions')}}</span>
                        <q-tree
                        :nodes="backupOptions"
                        node-key="value"
                        tick-strategy="leaf"
                        default-expand-all
                        no-connectors
                        :ticked.sync="currentBackup.data"
                        @update:ticked="handleBackupTicked"
                        />
                        <q-separator />
                    </q-card-section>
                    <q-card-section class="q-pt-none">
                        <q-checkbox v-model="backupEncrypted" :label="$t('enableEncryption')" />
                        <div v-if="backupEncrypted">
                            <q-input
                            :label="$t('password')+' *'"
                            stack-label
                            type="password"
                            autofocus
                            @keyup.enter="createBackup()"
                            v-model="currentBackup.password"
                            outlined
                            />
                        </div>
                    </q-card-section>
            
                    <q-separator />
            
                    <q-card-actions align="right">
                        <q-btn color="primary" outline @click="$refs.createBackupModal.hide()">{{$t('btn.cancel')}}</q-btn>
                        <q-btn color="secondary" unelevated @click="createBackup()">{{$t('btn.create')}}</q-btn>
                    </q-card-actions>
                </q-card>
            </q-dialog>

            <q-dialog ref="restoreBackupModal" no-backdrop-dismiss @hide="cleanCurrentBackup()">
                <q-card style="width:800px">
                    <q-bar class="bg-fixed-primary text-white">
                        <div class="q-toolbar-title">
                            {{$t('restore')}} {{$t('backup')}}
                        </div>
                        <q-space />
                        <q-btn dense flat icon="close" @click="$refs.restoreBackupModal.hide()" />
                    </q-bar>
            
                    <div v-if="backupStatus.operation !== 'idle' || uploadBackupLoading">
                        <div class="text-center">
                            <q-card-section>
                                <q-spinner-hourglass color="secondary" size="100px" />
                            </q-card-section>
                            <q-card-section>
                                <span v-if="uploadBackupLoading" class="text-h5">{{$t('backup_uploading')}}</span>
                                <span v-else-if="backupStatus.operation == 'restore'" class="text-h5">{{$t('restoreInProgress')}}</span>
                                <span v-else class="text-h5">{{$t('backupInProgress')}}</span>
                            </q-card-section>
                            <q-card-section>
                                <span v-if="!uploadBackupLoading" class="text-subtitle1">{{$t(backupStatus.state)}}</span>
                                <span v-else class="text-subtitle1">{{uploadProgress}}%</span>
                            </q-card-section>
                        </div>
                    </div>
                    <div v-else>
                        <q-card-section>
                            <span class="text-h5">{{currentBackup.name}}</span>
                        </q-card-section>
                        <q-card-section>
                            <span v-if="currentBackup.type == 'full'" class="text-subtitle1">{{$t('fullBackup')}}</span>
                            <span v-else class="text-subtitle1">{{$t('partialBackup')}}</span>
                        </q-card-section>
                        <q-card-section>
                            <span class="text-bold">{{$t('restoreMode')}}</span>
                            <div class="q-gutter-sm">
                                <q-radio v-model="restoreMode" val="revert" :label="$t('revert')">
                                    <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">{{$t('tooltip.restoreRevert')}}</q-tooltip>
                                </q-radio>
                                <q-radio v-model="restoreMode" val="upsert" :label="$t('upsert')">
                                    <q-tooltip anchor="bottom middle" self="center left" :delay="500" content-class="text-bold">{{$t('tooltip.restoreUpsert')}}</q-tooltip>
                                </q-radio>
                            </div>
                        </q-card-section>
                        <q-card-section>
                            <span class="text-bold">{{$t('selectWhatToRestore')}}</span>
                        </q-card-section>
                        <q-card-section v-if="currentBackup.type === 'full'" class="q-pt-none">
                            <div class="q-gutter-sm">
                                <q-radio v-model="backupType" val="full" :label="$t('full')" />
                                <q-radio v-model="backupType" val="partial" :label="$t('partial')" />
                            </div>
                        </q-card-section>
                        <q-card-section v-if="backupType == 'partial'" class="q-pt-none">
                            <q-tree
                            :nodes="restoreOptions"
                            node-key="value"
                            tick-strategy="leaf"
                            default-expand-all
                            no-connectors
                            :ticked.sync="currentBackup.data"
                            @update:ticked="handleBackupTicked"
                            />
                            <q-separator />
                        </q-card-section>
                        <q-card-section v-if="currentBackup.protected" class="q-pt-none">
                            <q-input
                            :label="$t('password')+' *'"
                            type="password"
                            autofocus
                            stack-label
                            @keyup.enter="confirmRestoreBackup()"
                            v-model="currentBackup.password"
                            outlined
                            />
                            <q-separator />
                        </q-card-section>
                
                
                        <q-card-actions align="right">
                            <q-btn color="primary" outline @click="$refs.restoreBackupModal.hide()">{{$t('btn.cancel')}}</q-btn>
                            <q-btn 
                            color="secondary" 
                            unelevated 
                            :disabled="(currentBackup.protected && !currentBackup.password) || currentBackup.data.length === 0"                            
                            @click="confirmRestoreBackup()"
                            >
                                {{$t('btn.restore')}}
                            </q-btn>
                        </q-card-actions>
                    </div>
                </q-card>
            </q-dialog>

            <q-dialog ref="uploadBackupModal" no-backdrop-dismiss @show="$refs.uploadBackupFile.pickFiles()">
                <q-card style="width:800px">
                    <q-bar class="bg-fixed-primary text-white">
                        <div class="q-toolbar-title">
                            {{$t('upload')}} {{$t('backup')}}
                        </div>
                        <q-space />
                        <q-btn dense flat icon="close" @click="$refs.uploadBackupModal.hide()" />
                    </q-bar>
                    <q-card-section>
                        <q-file
                        ref="uploadBackupFile"
                        v-model="uploadBackupFile"
                        :label="$t('upload') + ' ' + $t('backup')"
                        :loading="uploadBackupLoading"
                        :disable="uploadBackupLoading"
                        outlined
                        counter
                        :counter-label="counterLabelFn"
                        accept=".tar"
                        @rejected="rejectUploadFile"
                        >
                            <template v-slot:prepend>
                                <q-icon name="backup" />
                            </template>
                            <template v-slot:file="{file}">
                                <div class="ellipsis relative-position">
                                    {{file.name}}
                                </div>
                                <q-linear-progress
                                    size="20px"
                                    rounded
                                    :value="0.1"
                                    color="green"
                                    track-color="grey-7"
                                >
                                    <div class="absolute-full flex flex-center">
                                        <q-badge color="transparent" :label="uploadProgress + '%'" />
                                    </div>
                                </q-linear-progress>
                            </template>
                        </q-file>
                    </q-card-section>
                    <q-card-actions v-if="!uploadBackupLoading" align="right">
                        <q-btn color="primary" outline @click="$refs.uploadBackupModal.hide()">{{$t('btn.cancel')}}</q-btn>
                        <q-btn 
                        color="secondary" 
                        unelevated
                        @click="uploadBackup()"
                        >
                            {{$t('upload')}}
                        </q-btn>
                    </q-card-actions>
                </q-card>
            </q-dialog>
        </q-card>

        <q-card class="q-my-lg" v-if="canEdit" align="center">
            <q-card-section >
                <q-item>
                    <q-item-section class="q-px-md">
                        <q-btn 
                        :label="$t('saveSettings')"
                        color="secondary"
                        no-caps
                        flat
                        class="bg-secondary text-white"
                        @click="updateSettings"
                        ></q-btn>
                    </q-item-section>
                    <q-item-section class="q-px-md">
                        <q-btn 
                        :label="$t('revertSettingsToDefaults')"
                        color="negative"
                        no-caps
                        flat
                        class="bg-negative text-white"
                        @click="revertToDefaults"
                        /></q-btn>
                    </q-item-section>
                    <q-item-section class="q-px-md">
                        <input
                        ref="importSetttings"
                        value=""
                        type="file"
                        accept=".json"
                        class="hidden"
                        @change="importSettings($event.target.files)"
                        />
                        <q-btn 
                        color="warning"
                        no-caps
                        flat
                        class="bg-warning text-white"
                        @click="$refs.importSetttings.click()"
                        >
                            <div class="row items-center no-wrap">
                                <q-icon left name="fas fa-file-import" class="icon-update-btn"/>
                                <div class="text-center">
                                    {{$t('importSettings')}}
                                </div>
                            </div>
                        </q-btn>
                    </q-item-section>
                    <q-item-section class="q-px-md">
                        <q-btn 
                        color="warning"
                        no-caps
                        flat
                        class="bg-warning text-white"
                        @click="exportSettings"
                        >
                            <div class="row items-center no-wrap">
                                <q-icon left name="fas fa-file-export" class="icon-update-btn"/>
                                <div class="text-center">
                                    {{$t('exportSettings')}}
                                </div>
                            </div>
                        </q-btn>
                    </q-item-section>
                </q-item>
            </q-card-section>
        </q-card>
    </div>
</div>        