<div v-if="!loading" class="row">
    <div class="col-md-8 col-12 offset-md-2 q-mt-md">

        <q-card class="q-my-md">
          <q-card-section class="q-py-none bg-blue-grey-5 text-white">
              <q-item style="padding:0px;">
                  <q-item-section class="col-md-11">
                      <div class="text-h6">{{$t('generalSettings')}}</div>
                  </q-item-section>
              </q-item>
          </q-card-section>
          <q-card-section>
            <div class="text-bold">{{$t('changeDisplayLanguage')}}</div>
            <br/>
            <div class="text-grey-8">{{$t('changeDisplayLanguageInfo')}}</div>
            <br/>
            <q-item>
              <q-item-section class="col-md-2">
                <language-selector></language-selector>
              </q-item-section>
            </q-item>
          </q-card-section>
        </q-card>

        <q-card v-if="UserService.isAllowed('settings:read')" class="q-my-md">
            <q-card-section class="q-py-none bg-blue-grey-5 text-white">
                <q-item style="padding:0px;">
                    <q-item-section class="col-md-11">
                        <div class="text-h6">{{$t('reports')}}</div>
                    </q-item-section>
                </q-item>
            </q-card-section>
            <div v-if="UserService.isAllowed('settings:update')">
                <q-card-section>
                    <div class="text-bold">{{$t('reportsImagesBorder')}}</div>
                    <br/>
                    <div class="text-grey-8">{{$t('addBorderToImages')}}</div>
                    <br/>
                    <q-item>
                        <q-item-section class="col-md-2">
                            <q-toggle :label="$t('btn.enable')" v-model="settings.report.private.imageBorder" />
                        </q-item-section>
                        <q-item-section class="col-md-1">
                            <input :disabled="!settings.report.private.imageBorder" type="color" id="colorpicker" v-model="settings.report.private.imageBorderColor" />
                        </q-item-section>
                        <q-item-section class="col-md-2">
                            <label :disabled="!settings.report.private.imageBorder" for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.private.imageBorderColor}}</label>
                        </q-item-section>
                    </q-item>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <div class="text-bold">{{$t('cvssColors')}}</div>
                    <br/>
                    <div class="text-grey-8">{{$t('changeCvssColorsDescription')}}</div>
                    <br/>
                    <q-list>
                        <q-item>
                            <q-item-section class="col-md-2">
                                <label class="vertical-center">{{$t('critical')}} : </label>
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <input type="color" id="colorpicker" v-model="settings.report.public.cvssColors.criticalColor"/>
                            </q-item-section>
                            <q-item-section class="col-md-2">
                                <label for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.public.cvssColors.criticalColor}}</label>
                            </q-item-section>
                        </q-item>
                        <q-item>
                            <q-item-section class="col-md-2">
                                <label class="vertical-center">{{$t('high')}} : </label>
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <input type="color" id="colorpicker" v-model="settings.report.public.cvssColors.highColor"/>
                            </q-item-section>
                            <q-item-section class="col-md-2">
                                <label for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.public.cvssColors.highColor}}</label>
                            </q-item-section>
                        </q-item>
                        <q-item>
                            <q-item-section class="col-md-2">
                                <label class="vertical-center">{{$t('medium')}} : </label>
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <input type="color" id="colorpicker" v-model="settings.report.public.cvssColors.mediumColor"/>
                            </q-item-section>
                            <q-item-section class="col-md-2">
                                <label for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.public.cvssColors.mediumColor}}</label>
                            </q-item-section>
                        </q-item>
                        <q-item>
                            <q-item-section class="col-md-2">
                                <label class="vertical-center">{{$t('low')}} : </label>
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <input type="color" id="colorpicker" v-model="settings.report.public.cvssColors.lowColor"/>
                            </q-item-section>
                            <q-item-section class="col-md-2">
                                <label for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.public.cvssColors.lowColor}}</label>
                            </q-item-section>
                        </q-item>
                        <q-item>
                            <q-item-section class="col-md-2">
                                <label class="vertical-center">{{$t('informational')}} : </label>
                            </q-item-section>
                            <q-item-section class="col-md-1">
                                <input type="color" id="colorpicker" v-model="settings.report.public.cvssColors.noneColor"/>
                            </q-item-section>
                            <q-item-section class="col-md-2">
                                <label for="colorpicker" class="vertical-center">{{$t('currentColor')}}: {{settings.report.public.cvssColors.noneColor}}</label>
                            </q-item-section>
                        </q-item>
                    </q-list>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <div class="text-bold">{{$t('captions')}}</div>
                    <br/>
                    <div class="text-grey-8">{{$t('captionsDescription')}}</div>
                    <br/>
                    <q-item>
                        <q-item-section class="col-md-6">
                            <q-select
                            label="Caption Labels'"
                            stack-label
                            outlined
                            v-model="settings.report.public.captions"
                            use-input
                            use-chips
                            multiple
                            hide-dropdown-icon
                            options-sanitize
                            input-debounce="0"
                            new-value-mode="add-unique"
                        />
                        </q-item-section>
                    </q-item>
                </q-card-section>
            </div>
        </q-card>

        <q-card v-if="UserService.isAllowed('settings:read')" class="q-my-lg">
            <q-card-section class="q-py-none bg-blue-grey-5 text-white">
                <q-item style="padding:0px;">
                    <q-item-section class="col-11">
                        <div class="text-h6">{{$t('reviews')}}</div>
                    </q-item-section>
                    <q-item-section class="col-md-1 items-center" >
                        <q-toggle
                            color="primary"
                            keep-color
                            :disable="!canEdit"
                            v-model="settings.reviews.enabled"
                        />
                    </q-item-section>
                </q-item>
            </q-card-section>
            <q-separator />
            <q-card-section>
                <div class="text-bold">{{$t('auditUpdateAfterApproval')}}</div>
                <br/>
                <div class="text-grey-8">
                    {{$t('changeApproveBehaviorIfAuditUpdated')}}
                </div>
            </q-card-section>
            <q-card-section>
                <q-btn-toggle
                    :disable="!canEdit || !settings.reviews.enabled"
                    v-model="settings.reviews.private.removeApprovalsUponUpdate"
                    class="toggleButton"
                    spread
                    no-caps
                    rounded
                    unelevated
                    toggle-color="primary"
                    color="white"
                    text-color="primary"
                    :options="[
                    {label: $t('removeAllPriorApprovals'), value: true},
                    {label: $t('keepAllPriorApprovals'), value: false}
                    ]"
                />
            </q-card-section>
            <q-separator />
            <q-card-section>
                <div class="text-bold">{{$t('mandatoryReview')}}</div>
                <br/>
                <div class="text-grey-8" v-html="$t('mandatoryReviewInfo')"></div>
            </q-card-section>
            <q-card-section>
                <q-item>
                    <q-item-section class="col-2">
                        <q-toggle
                            :label="$t('btn.enable')"
                            v-model="settings.reviews.public.mandatoryReview"
                            color="primary"
                            keep-color
                            id="toggle"
                            :disable="!canEdit || !settings.reviews.enabled"
                        />
                    </q-item-section>
                    <q-item-section class="col-2">
                        <q-input
                            v-model.number="settings.reviews.public.minReviewers"
                            type="number"
                            :disable="!canEdit || !settings.reviews.enabled"
                            filled
                            :min="1"
                            :max="99"
                            :hint="$t('minimalNumberOfReviewers')"
                        />
                    </q-item-section>
                </q-item>
            </q-card-section>
        </q-card>

        <q-card class="q-my-lg" v-if="canEdit" align="center">
            <q-card-section >
                <q-item>
                    <q-item-section class="q-px-md">
                        <q-btn 
                        :label="$t('saveSettings')"
                        color="secondary"
                        no-caps
                        flat
                        class="bg-secondary text-white"
                        @click="updateSettings"
                        ></q-btn>
                    </q-item-section>
                    <q-item-section class="q-px-md">
                        <q-btn 
                        :label="$t('revertSettingsToDefaults')"
                        color="negative"
                        no-caps
                        flat
                        class="bg-negative text-white"
                        @click="revertToDefaults"
                        /></q-btn>
                    </q-item-section>
                    <q-item-section class="q-px-md">
                        <input
                        ref="importSetttings"
                        value=""
                        type="file"
                        accept=".json"
                        class="hidden"
                        @change="importSettings($event.target.files)"
                        />
                        <q-btn 
                        color="warning"
                        no-caps
                        flat
                        class="bg-warning text-white"
                        @click="$refs.importSetttings.click()"
                        >
                            <div class="row items-center no-wrap">
                                <q-icon left name="fas fa-file-import" class="icon-update-btn"/>
                                <div class="text-center">
                                    {{$t('importSettings')}}
                                </div>
                            </div>
                        </q-btn>
                    </q-item-section>
                    <q-item-section class="q-px-md">
                        <q-btn 
                        color="warning"
                        no-caps
                        flat
                        class="bg-warning text-white"
                        @click="exportSettings"
                        >
                            <div class="row items-center no-wrap">
                                <q-icon left name="fas fa-file-export" class="icon-update-btn"/>
                                <div class="text-center">
                                    {{$t('exportSettings')}}
                                </div>
                            </div>
                        </q-btn>
                    </q-item-section>
                </q-item>
            </q-card-section>
        </q-card>
    </div>
</div>        