name: Run Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  run_tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Run the backend tests
        run: bash ./run_backend_tests.sh -f

      - name: Run the frontend tests
        run: bash ./run_frontend_tests.sh -f
