<div>
    <div class="row">
        <div class="col-md-10 col-12 offset-md-1 q-mt-md">
            <q-card >
                
                <q-card-section class="q-py-xs bg-blue-grey-5 text-white">
                    <div class="text-h6">Reviews</div>
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <div class="text-bold">Audit Update After Approval</div>
                </q-card-section>
                <q-card-section>
                    <div class="text-grey-8">
                        Changes the behavior for an approved audit that gets updated. If an audit is updated : 
                    </div>
                </q-card-section>
                <q-card-section>
                    <q-btn-toggle
                        :disable="!canEdit"
                        v-model="configs.removeApprovalsUponUpdate"
                        class="toggleButton"
                        spread
                        no-caps
                        rounded
                        unelevated
                        toggle-color="primary"
                        color="white"
                        text-color="primary"
                        :options="[
                        {label: 'All its prior approvals are removed.', value: true},
                        {label: 'All its prior approvals are kept.', value: false}
                        ]"
                        @click="updateConfigsValue()"
                    />
                </q-card-section>
                <q-separator />
                <q-card-section>
                    <div class="text-bold">Mandatory Review</div>
                </q-card-section>
                <q-card-section>
                    <div class="text-grey-8">
                        Makes the review process mandatory. When activated, a user cannot export an audit unless it has been approved by the specified number of reviewers. 
                        <br/><br/>
                        The minimal number of reviewers is also used to determine if a report is marked as approved.
                    </div>
                </q-card-section>
                <q-card-section>
                    <q-field borderless stack-label>
                        <q-toggle
                            v-model="configs.mandatoryReview"
                            color="primary"
                            keep-color
                            class="fieldContent"
                            id="toggle"
                            @input="updateConfigsValue()"
                            :disable="!canEdit"
                        />
                        <q-input
                            v-model.number="configs.minReviewers"
                            type="number"
                            :disable="!canEdit"
                            filled
                            :min="1"
                            :max="99"
                            style="max-width: 200px"
                            hint="Minimal number of reviewers"
                            class="fieldContent"
                            @input="updateConfigsValueRange('minReviewers', 1, 99)"
                        />
                    </q-field>
                </q-card-section>
            </q-card>
        </div>
    </div>
</div>
        